In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Titanictrain.csv")

In [3]:
import re

In [4]:
for i in df['Sex'].iteritems():
    df.loc[i[0],'Sex_2'] = re.sub(r'[am]','0', i[1])

In [5]:
df['Sex_2']

0        00le
1      fe00le
2      fe00le
3      fe00le
4        00le
        ...
886      00le
887    fe00le
888    fe00le
889      00le
890      00le
Name: Sex_2, Length: 891, dtype: object